<!-- <p>view-booking-details works!</p> -->

<div class="mainbluesurface" id="mainbluesurface">
    <!-- Navigation bar -->
    <div class="topnav">
        <img src="../../../assets/vendor/booking/images/sublogo2.png" alt="logo login" id="sublogo">
        <div class="topnav-right">
            <!-- Dropdown in the navigation bar-->
            <!-- <div class="dropdown">
                <button class="dropbtn"> Booking
                    <img src="../../../assets/vendor/booking/images/Dropdown.png" alt="dropdown" id="dropdownicon">
                </button>
                <div class="dropdown-content">
                    <a href="BookingDetails.html"> Booking Details</a>
                    <a href="AddNewBooking.html"> Add New Booking </a>
                    <a href="UserProfile.html"> User Profile </a>
                    <a href="BookingReport.html"> Booking Report </a>

                </div>
            </div> -->

            <a class="active" [routerLink]="['/admin/booking/dashboard-booking']">Home</a>
            <!-- <a class="active" href="BookingAdminLogin.html">LogOut</a> -->
        </div>
    </div>
    <hr id="headerhr">

    <div class="contentblock">

        <h2 id="topic"> View Booking Details </h2>
        <table class="addnewformtable">
            <!-- <form action=""> -->

            <tr>
                <td> <label for="did">Update Driver </label> </td>
                <td> : </td>
                <td>

                    <select class="forminput" [(ngModel)]="driver_id">
                        <option *ngFor="let item of driversData" value="{{item.id}}">
                            {{item.id}}
                            {{item.first_name}}
                            {{item.last_name}}</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td><label style="font-size: 22px; color:#000066;" for="id">Vehicle No.</label> </td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="vehicle" type="text" id="vehicle" name="vehicle"
                        placeholder="Vehicle No." disabled> </td>

            </tr>
            <tr>
                <td><label style="font-size: 22px; color:#000066;" for="id">Driver</label> </td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="driver" type="text" id="driver" name="driver"
                        placeholder="Driver" disabled> </td>

            </tr>
            <tr>
                <td><label style="font-size: 22px; color:#000066;" for="id">Full Name </label> </td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="name" type="text" id="name" name="name"
                        placeholder="Full Name" disabled> </td>

            </tr>
            <tr>

                <td> <label style="font-size: 22px; color:#000066;" for="did">Email </label> </td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="email" placeholder="example@gmail.com" type="email"
                        id="email" name="email" maxlength="243" value="" disabled> </td>
            </tr>
            <tr>
                <td><label style="font-size: 22px; color:#000066;" for="pLocation">Pick Up Location </label>
                </td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="pLocation" placeholder="Pick Up Location" type="text"
                        id="pLocation" name="pLocation" disabled> </td>

            </tr>
            <tr>

                <td><label style="font-size: 22px; color:#000066;" for="lname">Pick Up Date </label> </td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="pdate" placeholder="" type="date" id="pdate" name="pdate"
                        disabled>
                </td>
            </tr>
            <tr>
                <td> <label style="font-size: 22px; color:#000066;" for="Vplate">Pick Up Time </label> </td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="ptime" placeholder="" type="time" id="time" name="ptime"
                        value="" disabled> </td>
            </tr>
            <tr>
                <td> <label style="font-size: 22px; color:#000066;" for="phoneno">No Of passenger's </label>
                </td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="passenger" type="text" id="passenger" name="passenger"
                        placeholder="No Of passengers " disabled> </td>
            </tr>
            <tr>
                <td> <label style="font-size: 22px; color:#000066;" for="date"> Drop Off Location </label>
                </td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="dlocation" type="text" id="dlocation" name="dlocation"
                        value="" disabled>
                </td>
            </tr>
            <tr>
                <td> <label style="font-size: 22px; color:#000066;" for="email"> Contact Number </label>
                </td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="pnumber" type="tel" id="pnumber" name="pnumber"
                        pattern="[0-9]{3} [0-9]{3} [0-9]{4}" disabled> </td>
            </tr>
            <tr>
                <td> <label style="font-size: 22px; color:#000066;" for="time">Drop Off Date </label></td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="ddate" type="date" id="ddate" name="ddate" value="" disabled>
                </td>
            </tr>
            <tr>
                <td><label style="font-size: 22px; color:#000066;" for="place"> Drop Off Time </label> </td>
                <td> : </td>
                <td> <input class="forminput" [(ngModel)]="dtime" type="time" id="dtime" name="dtime" disabled>
                </td>
                <!-- </form> -->
        </table>

        <br>
        <input class="submitbtn" type="button" (click)="updateBooking()" value="UPDATE BOOKING">
        <br><br>
    </div>
</div>