<!-- <p>add-vehicle works!</p> -->


<div class="mainbluesurface" id="mainbluesurface">
    <!-- Navigation bar -->
    <div class="topnav">
        <img src="../../../assets/vendor/vehicle/images/sublogo2.png" alt="logo login" id="sublogo">
        <div class="topnav-right">

            <a class="active" [routerLink]="['/admin/vehicle/dashboard-vehicle']">Home</a>
            <!-- <a class="active" href="VehicleAdminLogin.html">LogOut</a> -->
        </div>
    </div>
    <hr id="headerhr">

    <div class="contentblock">
        <h2 id="topic">View Vehicle Details </h2>
        <!-- Form of adding a new driver to the system-->
        <table class="addnewformtable">
            <!-- <form action=""> -->
            <tr>
                <td><label for="vehicle_no">Vehicle No </label> </td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="vehicle_no" name="vehicle_no" [(ngModel)]="vehicle_no"
                        required> </td>
            </tr>
            <tr>
                <td> <label for="vehicle_type">Vehicle Type </label> </td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="vehicle_type" name="vehicle_type" value=""
                        [(ngModel)]="vehicle_type" required> </td>
            </tr>
            <tr>
                <td> <label for="sheets">No.of seats </label> </td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="sheets" name="sheets" value="" [(ngModel)]="sheets"
                        required> </td>
            </tr>
            <tr>
                <td> <label for="color"> Vehicle Colour </label> </td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="color" name="color" maxlength="12" value=""
                        [(ngModel)]="color" required>
                </td>
            </tr>
            <tr>
                <td> <label for="number">Phone Number </label></td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="number." name="number" value="" [(ngModel)]="number"
                        required> </td>
            </tr>
            <tr>
                <td> <label for="owner_name">Owner Name</label></td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="owner_name." name="owner_name" value=""
                        [(ngModel)]="owner_name" required> </td>
            </tr>
            <tr>
                <td> <label for="price_per_hour">Price Per Hour</label></td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="price_per_hour." name="price_per_hour" value=""
                        [(ngModel)]="price_per_hour" required> </td>
            </tr>

            <!-- </form> -->
        </table>

        <br>
        <button class="submitbtn" type="button" (click)="updateVehicle()"> UPDATE VEHICLE </button>
        <br><br>
        <button class="submitbtn" type="button" (click)="deleteVehicle()"> DELETE VEHICLE </button>

    </div>
</div>