<!-- <p>admin-home works!</p> -->

<div class="mainbluesurface" id="mainbluesurface">
    <div class="row">
        <div class="column">
            <img src="../../assets/vendor/driver/images/mainlogo.png" alt="logo login" id="mainlogo">
        </div>

        <div class="column">
            <div class="tab">
                <button class="tablinks" [routerLink]="['/admin/driver/dashboard-driver/']"> Driver Management</button>
                <br><br><br>
                <button class="tablinks" [routerLink]="['/admin/vehicle/dashboard-vehicle/']"> Vehicle
                    Management</button>
                <br><br><br>
                <button class="tablinks" [routerLink]="['/admin/booking/dashboard-booking/']"> Booking
                    Management</button>
                <br><br><br>
            </div>
        </div>

    </div>
</div>