<div class="mainbluesurface" id="mainbluesurface">

    <div class="row">
        <div class="column">
            <img src="../../assets/vendor/driver/images/mainlogo.png" alt="logo login" id="mainlogo">
        </div>

        <div class="column">
            <form class="loginform">
                <div class="icon">
                    <!-- <a href="DriverAdminHome.html" class="backicon">
                        <img src="../../assets/vendor/driver/images/back arrow.png" alt="navigate back"></a> -->
                    <img src="../../assets/vendor/driver/images/back arrow.png" [routerLink]="['/index']"
                        alt="navigate back">
                    <!-- To navigate to the home page -->
                </div>

                <div class="headercontainer">
                    <h4> User Sign In </h4>
                </div>

                <div class="container">
                    <label for="email"><b>Email</b></label><br>
                    <input type="text" [(ngModel)]="lemail" placeholder="Enter Email" name="lemail" required>
                    <br>
                    <label for="psw"><b>Password</b></label><br>
                    <input type="password" [(ngModel)]="lpsw" placeholder="Enter Password" name="lpsw" required>
                    <br>
                    <button id="login" (click)="userSignIn()" type="button">Sign In</button><br><br>
                    <!-- <label for="fpsw" style="text-align: center;"><b>Forget Password ? </b></label>
                    <p style="font-size: 18px;margin-top: -1px;"> Contact system administrator <br> 077 8043 8144</p> -->
                </div>
            </form>

        </div>
    </div>

</div>