<!-- <p>view-driver-details works!</p> -->

<div class="mainbluesurface" id="mainbluesurface">
    <!-- Navigation bar -->
    <div class="topnav">
        <img src="../../../assets/vendor/driver/images/sublogo2.png" alt="logo login" id="sublogo">
        <div class="topnav-right">
            <!-- Dropdown in the navigation bar-->
            <!-- <div class="dropdown">
                <button class="dropbtn">Driver
                    <img src="../../../assets/vendor/driver/images/Dropdown.png" alt="dropdown" id="dropdownicon">
                </button>
                <div class="dropdown-content">
                    <a [routerLink]="['/admin/driver/add-driver']"> Add New Driver</a>
                    <a href="DriverAssigned.html"> Assigned </a>
                    <a href="DriverVacant.html"> Vacant </a>
                    <a href="Drivers'Report.html"> Report </a>
                </div>
            </div> -->

            <a class="active" [routerLink]="['/admin/driver/dashboard-driver']">Home</a>
            <!-- <a class="active" (click)="logout()">LogOut</a> -->
        </div>
    </div>
    <hr id="headerhr">

    <div class="contentblock">
        <h2 id="topic">View Driver Details</h2>

        <table class="addnewformtable">
            <tr>
                <td><label for="fname">Registered Date </label> </td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="rdate" name="rdate" [(ngModel)]="date" disabled> </td>
            </tr>
            <tr>
                <td> <label for="fname">First Name </label> </td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="fname" name="fname" value="" [(ngModel)]="fname" required>
                </td>
            </tr>
            <tr>
                <td> <label for="lname">Last Name </label> </td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="lname" name="lname" value="" [(ngModel)]="lname" required>
                </td>
            </tr>
            <tr>
                <td> <label for="NIC"> NIC </label> </td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="nic" name="nic" maxlength="12" value="" [(ngModel)]="nic"
                        required>
                </td>
            </tr>
            <tr>
                <td> <label for="Licence No.">License No. </label></td>
                <td> : </td>
                <td> <input class="forminput" type="text" id="lno." name="License No." value="" [(ngModel)]="license"
                        required> </td>
            </tr>
            <tr>
                <td> <label for="phoneno."> Contact No. </label> </td>
                <td> : </td>
                <td> <input class="forminput" type="tel" id="phone" name="phone" placeholder="076 456 7890"
                        pattern="[0-9]{3} [0-9]{3} [0-9]{4}" [(ngModel)]="phone" required> </td>
            </tr>
            <tr>
                <td> <label for="email"> E-mail </label> </td>
                <td> : </td>
                <td> <input class="forminput" type="email" id="email" name="email" [(ngModel)]="email" required> </td>
            </tr>
        </table>

        <br>
        <!-- After clicking add button a confirmation alert should pop up-->
        <button class="submitbtn" type="button" style="cursor: pointer;" (click)="updateDriver()">UPDATE DRIVER
        </button>
        <br /> <br />

        <button class="submitbtn" type="button" style="cursor: pointer;" (click)="deleteDriver()">REMOVE DRIVER
        </button>
        <br><br>
    </div>
</div>